/*fælles*/

.topbaggrundsbillede{
 
    background-image: url('images/keramik-værksted-baggrund.jpg');
    background-repeat: no-repeat;
    background-position: center -900%;
    background-size:cover;
    height: 100vh;
   
  
}

 .pilned {
    margin-left: 95%; 
    margin-top: 34%;
 }




#genvejsgruppe {
    margin-left: 4%;
    margin-top: 4%;
    z-index: 8;
}


#genveje{
    display: flex;
    flex-direction: row;
    gap: 2%;
}


#genveje a {
    text-decoration: none;
    color:#0499BF;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 1%;
    margin-left: -0.5%;
}




/*materialer*/


 





/*keramik*/
.fittyfitty{
    background-color: #DBD8C6;
}