/* font og H størrelse */

@font-face {
    font-family: 'InterLight';
    src: url('fonts/Inter-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'InterEkstraLight';
    src: url('fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'InterMedium';
    src: url('fonts/Inter_18pt-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'InterBold';
    src: url('fonts/Inter_18pt-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'InterRegular';
    src: url('fonts/Inter_18pt-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'InterSemiBold';
    src: url('fonts/Inter_18pt-SemiBold.ttf') format('truetype');
}

h1{
    font-size: 4em;
    color: #000;
    font-weight: lighter; 
    font-family: 'InterEkstraLight', sans-serif;
    text-transform: uppercase;
}

*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.tiltoppen{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 11;
    background-color: #EB5351;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tiltoppen a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 2%;
    width: 100%;
    text-align: center;
}


                                    /*Forside*/

#forsidebillede{
    width: 100%;
    position: relative;
    z-index: 1;
    
}
.forbillede{
    position: absolute;
    width: 100%;
}

.herologo{
    position: absolute;
    width: 35%;
    margin-top: 25%;
    margin-left: 33%;
}

#forsidebillede div p{
    position: absolute;
    color: white;
    margin-top: 35%;
    margin-left: 45%;
    font-family: 'InterRegular', sans-serif;
}
/*kalender afsnit*/
/*Meningen er at man skal kunne swipe til nyt kalender afsnit, men da dette skal laves med javescprit, har vi kun lavet det i stillestand, uden effekter*/
.kalenderoverskrift{
    position: relative;
    margin-top: 45rem;
    text-align: center;
    font-family: 'InterMedium', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #EB5351;
    z-index: 5;

}
.scrollbox {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;

    scrollbar-width: thin;
    scrollbar-color: #EB5351 #DBD8C6;
    position: relative;
    z-index: 5;
    margin: 2rem auto;
    width:65%;

    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.scrollbox img{
    margin: 2rem;
    width: 25rem;
    height: 25rem;
    box-shadow: 20px 20px #EB5351;
}

.scrollbox img:hover{
    
    background-color: rgb(219, 216, 198, 0.7);
}


.forsidekort{
    position: relative;
    display: inline-block;
    
}

.forsidekort img:hover{
    transform: scale(1.03);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.forsidekort:hover .kort-info-forside{
    opacity: 1;
    transition: opacity 0.5s ease;
    
    background-color: rgb(219, 216, 198, 0.7);
    transition: background-color 0.5s ease;
}

.scrollbox::-webkit-scrollbar {
    height: 10px;
}

.scrollbox::-webkit-scrollbar-track {
    background: #DBD8C6;
}

.scrollbox::-webkit-scrollbar-thumb {
    background-color: #EB5351;
    border-radius: 10px;
}

.kort-info-forside{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    opacity: 0;

    pointer-events: none;
    transition: opacity 0.5s ease;
}

.kort-info-forside p{
    font-family: 'InterMedium', sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-left: 2rem;
    font-size: 1rem;
    
}

.kort-info-forside h2{
    font-family: 'InterMedium', sans-serif;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    margin: 0;
    font-size: 2rem;
}

.kort-info-forside h3{
    font-family: 'InterMedium', sans-serif;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}
/*
.forsidekort{
    position: relative;
    display: inline-block;
    width: 25rem;
    height: 25rem;
    overflow: hidden;
}

.forsidekort img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kort-info-forside{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.forsidekort:hover .kort-info-forside{
    opacity: 1;
    transition: opacity 0.5s ease;
}
*/
/*
.kalenderkort, .kalswipe{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 2rem;
    margin-top: 50%;
    text-align: center;

    width: 50rem;
}

.kalenderkort a{
    text-decoration: none;
    color: black;
    font-size: 200%;
    text-align: center;
    font-family: 'InterMedium', sans-serif;
}

.kalenderkort h2{
    text-align: left;
    margin-left: 33%;
    font-family: 'InterRegular', sans-serif;
    text-transform: uppercase;
   
}
.kalenderkort p{
    text-align: left;
    margin-left: 33%;
    font-size: 110%;
    font-family: 'InterSemiBold', sans-serif;
}

.kalenderkort h3{
    text-align: right;
    margin-right: 35%;
    margin-top: -3%;
    font-family: 'InterBold', sans-serif;
}

.dejudstilling img{
    box-shadow: 20px 20px #EB5351;
    border:solid black; /*Mindre borderkant?*//*
}

.dejudstilling:hover{ 
    transition: transform 0.5s ease;
    transform: scale(1.03);
}

.badguy{
    border: solid black;
    box-shadow: 10px 10px #EB5351;
}

.kalswipe{
  display: flex;
  justify-content: right;
  margin-top: -22rem;
}

#swipepil{
margin-right: -2%;
z-index: 0;
}

#swipepil:hover{
    transition: transform 0.5s ease;
    transform: scale(1.3);
    cursor: pointer;
}
/*

/*Lej lokale og Gods afsnit*/

.lejlok{
    display: flex;
    position: relative;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/gul_ellipse2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    margin-top: 20rem;
    padding: 15rem 10rem;
}

.lejlok section{
    position: relative;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    width: 50%;
    z-index: 5;
    text-align: center;
}

.lejlok div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    z-index: 5;
}

.lejlok div img{
    width: 100%;
    z-index: 5;
    border-radius: 100%;
}

.lejlok section p{
    align-items: center;    
    margin: 1rem auto;
    margin-bottom: 3rem;
    width: 70%;
    font-family: 'InterRegular', sans-serif;
}
.lm{
    background-color: #0499bf;
    color:white;
    text-decoration: none;
    border-radius: 15rem;
    padding: 1rem 3rem;
    box-shadow: rgb(0, 0, 0, 0.5) 0px 5px 10px;
    font-family: 'InterRegular', sans-serif; 
    transform: scale(1);
}

.lm:hover{
    transition: transform 0.5s ease;
    transform: scale(1.2);
    background-color: #EB5351;
}

.godsafsnit{
    display: flex;
    position: relative;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/grå_ellipse3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    margin-top: 20rem;
    padding: 10rem 10rem;
}

.godsafsnit section{
    position: relative;
    padding-top: 8%;
    padding-bottom: 4%;
    padding-left: 5%;
    width: 50%;
    z-index: 5;
    text-align: center;
}

.godsafsnit div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    z-index: 5;
}

.godsafsnit div img{
    width: 100%;
    z-index: 5;
    border-radius: 100%; 
}

.godsafsnit section p{
    align-items: center;    
    margin: 1rem auto;
    margin-bottom: 3rem;
    width: 70%;
    font-family: 'InterRegular', sans-serif;
}



/*MOBIL*/
@media screen and (max-width:1000px){
    /*Forside billede*/
    

    /*Kalender afsnit*/

    .kalenderoverskrift{
        margin-top: 20rem;
        font-size: 2rem;
    }
    .scrollbox{
        width: 80%;
        height: auto;
        margin: 2rem;
        padding: 0;
        gap: 1rem;
    }
    .scrollbox img{
        box-shadow: 10px 10px #EB5351;
        width: 20rem;
        height: 20rem;
    }
    .scrollbox img:hover{
        background-color: rgb(219, 216, 198, 0.7);
    }
    .forsidekort{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 1rem 0;
    }
    
    .forsidekort img:hover{
        transform: none;
        transition: none;
    }
    
    .forsidekort:hover{
        opacity: 1;
        transition: none;
        transition: none;
    }
    .forsidekort:hover .kort-info-forside{
        opacity: 1;
        transition: none;
        background-color: transparent;
        transition: none;
    }
    .kort-info-forside{
        display: flex;
        position: static;
        width: 80%;
        height: auto;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
        opacity: 1;
        transition: none;
        margin-left: 2rem;
        padding: 0;
    }
    .kort-info-forside p{
        text-align: left;
        margin-left: 0rem;
        font-size: 1rem;
        align-self: flex-start;
        
    }
    .kort-info-forside h2{
        text-align: right;
        margin-top: auto;
        font-size: 1.3rem;
        align-self: flex-end;
        position: static;
    }
    .kort-info-forside h3{
        margin: 0;
        text-align: left;
        align-self: flex-start;
        font-size: 1.2rem;
    }
    

    /*.kalenderkort{
        margin-bottom: 10rem;
    }
    .kalswipe img{
        flex-direction: column;
                /*KAN IKKE FÅ DET I MIDTEN...MEN DATO FØLGER MED KALSWIPE?????*/
      /*          margin-right: 30%;
        margin-top: 15rem;
        margin-bottom: 5rem; 
    }
    */

    /*Afsnit*/
    /*KAN BAGGRUNDSBILLEDET BLIVE STØRRE, UDEN DEN BLIVER BESKÅRET?*/
    .lejlok, .godsafsnit{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 6rem 0rem;
        margin-top: 2rem;
        background-size: cover;
        height: auto;
        background-position: center;
    }
    .lejlok{
        padding-bottom: 15rem;
    }
    .godsafsnit{
        padding-bottom: 10rem;
    }

    .lejlok section, .godsafsnit section{
        width: 100%;
        text-align: center;
    }
    .lejlok section{
        margin-top: 2rem;
    }
   
    .lejlok section h1, .godsafsnit section h1{
        font-size: 3rem;
        min-width: 80%;
    }
    
    .lejlok div, .godsafsnit div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 2rem auto;
    }

    .lejlok div img, .godsafsnit div img{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .lm, .lm:hover{
        background-color: #0499bf;
        margin: 0 auto;
        text-align: center;
    }


}




                                    /*Forside slut*/