/* font og H størrelse */

@font-face {
    font-family: 'InterLight';
    src: url('fonts/Inter-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'InterEkstraLight';
    src: url('fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'InterMedium';
    src: url('fonts/Inter_18pt-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'InterBold';
    src: url('fonts/Inter_18pt-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'InterRegular';
    src: url('fonts/Inter_18pt-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'InterSemiBold';
    src: url('fonts/Inter_18pt-SemiBold.ttf') format('truetype');
}

h1{
    font-size: 4em;
    color: #000;
    font-weight: lighter; 
    font-family: 'InterEkstraLight', sans-serif;
    text-transform: uppercase;
    
    
    
}

*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}



                                    /*Forside*/

#forsidebillede{
    width: 100%;
    position: relative;
}
.forbillede{
    position: absolute;
    width: 100%;
}

.herologo{
    position: absolute;
    width: 35%;
    margin-top: 25%;
    margin-left: 33%;
}

#forsidebillede div p{
    position: absolute;
    color: white;
    margin-top: 35%;
    margin-left: 45%;
    
}
/*kalender afsnit*/
/*Meningen er at man skal kunne swipe til nyt kalender afsnit, men da dette skal laves med javescprit, har vi kun lavet det i stillestand, uden effekter*/

.kalenderkort{
    margin-top: 50%;
    text-align: center;

}

.kalenderkort a{
    text-decoration: none;
    color: black;
    font-size: 200%;
    text-align: center;
    
}

.kalenderkort h2, .kalenderkort p{
    text-align: left;
    margin-left: 33%;
   
}
.kalenderkort p{
    font-size: 110%;
}

.kalenderkort h3{
    text-align: right;
    margin-right: 35%;
    margin-top: -3%;
}

.dejudstilling img{
    box-shadow: 20px 20px #EB5351;
    border:solid black; /*Mindre borderkant?*/
    
}

.badguy{
    border: solid black;
    box-shadow: 10px 10px #EB5351;
}

.kalswipe{
  display: flex;
  justify-content: right;
  margin-top: -27%;
}

#swipepil{
margin-right: -2%;
z-index: 0;
}

/*Lej lokale og Gods afsnit*/

.lejlok{
    display: flex;
    position: relative;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/gul_ellipse4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
    margin-top: 20rem;
    padding: 50% 10%;
}

.lejlok section{
    position: relative;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    width: 50%;
    z-index: 5;
    text-align: center;
}

.lejlok div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    z-index: 5;
}

.lejlok div img{
    width: 100%;
    z-index: 5;
    border-radius: 100%;
}

.lejlok section p{
    align-items: center;    
    margin: 1rem auto;
    margin-bottom: 3rem;
    width: 70%;
}
.lm{
    background-color: #0499bf;
    color:white;
    text-decoration: none;
    border-radius: 15rem;
    padding: 1rem 3rem;
    
}

/*HVORFOR ER DER SÅ MEGET MELLEMRUM MELLEM AFSNIT?*/

.godsafsnit{
    display: flex;
    position: relative;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/grå_ellipse2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
    margin-top: 20rem;
    padding: 50% 10%;
}

.godsafsnit section{
    position: relative;
    padding-top: 15%;
    padding-bottom: 4%;
    padding-left: 5%;
    width: 50%;
    z-index: 5;
    text-align: center;
}

.godsafsnit div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    z-index: 5;
}

.godsafsnit div img{
    width: 100%;
    z-index: 5;
    border-radius: 100%; /*ER BILLEDET HELT RUNDT, ELLER ER DET BARE MINE ØJNE?*/
    padding-top: 15%;
}

.godsafsnit section p{
    align-items: center;    
    margin: 1rem auto;
    margin-bottom: 3rem;
    width: 70%;
}



/*MOBIL*/
@media screen and (max-width:1000px){
    /*Forside billede*/

    /*Kalender afsnit*/

    /*Afsnit*/
    .lejlok{
        display: block;
        text-align: center;
    }
    .godsafsnit{
        display: block;
        text-align: center;
    }


}




                                    /*Forside slut*/